<div ng-controller="CadastroPessoaController">

    <oobj-crud titulo="Cadastro de pessoa"
            acao-salvar="salvar()"
            acao-excluir="excluir()"
            acao-limpar="limpar()">

        <div class="row">
            <input-text label="Nome" ng-model="pessoa.nome" colspan="3"></input-text>

            <input-text label="Sobrenome" ng-model="pessoa.sobrenome" colspan="3"></input-text>

            <input-select label="Sexo" provider="generos" ng-model="pessoa.sexo" colspan="2"></input-select>

        </div>

        {{pessoa}}
    </oobj-crud>
</div>